---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2 id="selected-talks">Selected Talks</h2><hr />

<ul>
  <li><strong>2026</strong> &mdash; &ldquo;AI Personal Assistance,&rdquo; Brandeis RJxTP.</li>
  <li><strong>2022</strong> &mdash; Invited talk, University of California, San Diego.</li>
  <li><strong>2021</strong> &mdash; Invited talk, Brandeis Bioethics.</li>
  <li><strong>2020</strong> &mdash; &ldquo;Reinforcement-Learning-equipped Agent-Based Models for Policy,&rdquo; ICMLA.</li>
  <li><strong>2017</strong> &mdash; &ldquo;AI fairness,&rdquo; <a href="https://www.youtube.com/watch?v=4l_LZ5NcIBI">TEDx</a>.</li>
</ul>



